language: python

python:
  - "2.6"
  - "2.7"

sudo: false

install:
  - pip install -r requirements.txt
  - pip install -r dev-requirements.txt
  - python setup.py install
  - pip freeze

script:
  - python -m pytest -vv --cov=gdc_client --cov-report xml tests/
  - python-codacy-coverage -r coverage.xml
