flask==1.0.2
pytest==4.6.2
pytest-cov==2.7.1
codacy-coverage==1.3.11
requests-mock==1.5.2
tox==3.13.2
black==19.10b0;python_version>="3.6"
pre-commit==2.2.0;python_version>="3.6"
moto~=1.3.14
httmock~=1.3.0
