cmd2==0.6.8
cryptography==2.2.1
jsonschema==2.5.1
lxml==3.5.0b1
ndg-httpsclient==0.4.2
pyasn1==0.2.3
pyOpenSSL==17.1.0
PyYAML==3.11
-e git+https://github.com/LabAdvComp/parcel.git@f37e1a0fe43432eabaac592775c0752a53ce53dd#egg=parcel
